<%= form_with model: @friend do |form| %>
<div class="form-inline">

  <div class="form-group mb-2">
    <%= form.email_field :email, class: "form-control mr-2", required: true, placeholder: "Email..." %>
  </div>
  <div>
    <%= form.submit 'Save', class: "btn  btnorder mb-2" %>
  </div>

</div>
<% end %>